{% extends 'catalog/base.html' %}

{% block content %}
   <div class="container">
       <div class="row-6">
           <div class="col-6">
               <form class="row" method="post" enctype="multipart/form-data">
                   <div class="card">
                       <div class="card-body">
                           {% csrf_token %}
                           <p>Are you sure you want to delete'{{ object.title }}'?</p>
                       </div>
                       <button type="submit" class="btn btn-danger">Confirm</button>
                       <a class="btn btn-primary" href="{% url 'blog:list' %}" role="button">Cancel</a>
                   </div>
               </form>
           </div>
       </div>
   </div>
{% endblock %}