{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Online store</h1>
        <p class="lead text-muted">Authentication page</p>

    </div>
</section>


<div class="container">
    <form class="row" method="post">
        <div class="col-6">
            <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <label for="email">Email</label>
                            <input type="text" name="email" class="form-control" id="email" placeholder="Fill in your recovery email"
                                   required>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                       Send
                    </button>



            </div>

        </div>
        </form>

         </div>

    </div>

{% endblock %}