{% extends 'catalog/base.html'%}
{% block content %}
{% load my_tags %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for category in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">Category: {{ category.name }}</p>
                <p class="card-text">Description: {{ category.description }}</p>
            </div>
            <p class="card-footer"> Current version:{{ product.current_version }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}