{% extends 'catalog/base.html' %}

{% block content %}
   <div class="container">
       <form class="row" method="post" enctype="multipart/form-data">
           <div class="col-6">
               <div class="card">
                   {% if object %}
                   <p class="card-text">Edit</p>
                   {% else %}
                   <p class="card-text">Create</p>
                   {% endif %}
                   <div class="card-body">
                           {% csrf_token %}
                           {{ form.as_p }}
                   </div>
                   <button type="submit" class="btn btn-success">
                       {% if object %}
                       Save
                       {% else %}
                       Create
                       {% endif %}
                   </button>
               </div>
           </div>
           <div class="col-6">
               <div class="card">
                   <p class="card-text">Create</p>
                   <div class="card-body">
                       {{ formset.management_form }}
                       {% for form in formset.forms %}
                       {{ form.as_p }}
                       {% endfor %}
                   </div>
               </div>
           </div>
        </form>
   </div>
{% endblock %}